---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
const allPosts = (await getCollection("blog")).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<Layout
  meta={{
    title: "Frank Stallone II | Home",
    description: "Website for Frank Stallone II",
  }}
>
  <a href="#main" class="sr-only sr-only-focusable">Skip to content</a>
  <Header />
  <main>
    <div
      class="text-balance wrapper region region-space-m-l"
      style="--wrapper-max-width: 65ch;"
    >
      <h1 class="mt-zero">Blog of Frank Stallone</h1>
    </div>
    <section class="wrapper" id="main" style="--wrapper-max-width: 65ch;">
      {
        allPosts.map((post) => (
          <div class="region flow prose">
            <h2>
              <a class="button" href={`/${post.slug}/`}>
                {post.data.title}
              </a>
            </h2>
            <p class="mt-2xs">
              <small class="font-mono text-gray-900 text-step-000">
                <span class="py-3xs px-2xs">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                    fill="currentColor"
                    class="icon"
                  >
                    <path d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z" />
                  </svg>
                  {new Date(post.data.publishDate).toLocaleDateString(
                    undefined,
                    {
                      weekday: "long",
                      year: "numeric",
                      month: "long",
                      day: "numeric",
                    }
                  )}
                </span>
              </small>
            </p>
            <p>{post.data.description}</p>
            <p>
              <a href={`/${post.slug}/`}>Read more &hellip;</a>
            </p>
          </div>
        ))
      }
    </section>
  </main>
</Layout>
