---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <Header />
  <main class="wrapper flow region" style="--wrapper-max-width: 65ch;">
    <h1>Musings of Frank Stallone II</h1>
    <p>Here lies the musings of Frank Stallone II</p>
  </main>
</Layout>
