---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <Header />
  <main class="wrapper flow prose region" style="--wrapper-max-width: 65ch;">
    <h1>Thank you for your message!</h1>
    <p>
      I'll get back to you as soon as I can. Until then, <a href="/"
        >head back to the home page.</a
      >
    </p>
  </main>
</Layout>
