---
import { Picture } from "astro:assets";
import Header from "./Header.astro";
const { title, hero } = Astro.props;
---

<Header class="box" />
<div
  class="wrapper region region-space-m-l flow text-center"
  style="--wrapper-max-width: 65ch;"
>
  <h1>{title}</h1>
  <Picture
    src={hero}
    alt="A hero image"
    class="object-contain h-auto"
    widths={[500, 700, 1000, hero.width]}
    sizes={`(max-width: 360px) 500px, (max-width: 720px) 700px, (max-width: 1200px) 1000px, ${hero.width}px`}
    quality={80}
    formats={["avif", "webp"]}
  />
</div>
