---
import Header from "./Header.astro";
const { title } = Astro.props;
---

<Header />
<div
  class="text-balance wrapper region region-space-m-l"
  style="--wrapper-max-width: 65ch;"
>
  <h1>{title}</h1>
</div>
